

body{
	text-align: center;
	background-color: #003865;
	font-family: 'Domine', serif;

}

h1{
	color:#E87722;
	font-size: 75px;
	
	
}
h3{
	color:#E87722;
	font-size: 40px;
	margin-top: 5px;
	
}
h4{
	color:#E87722;
	margin-top: 10px;
	font-size: 25px;
}



p{
	color:#FFA300;
}

a:visited {
    color: #59CBE8;
    font-size: 20px;
}

a{
    color: #FFA300;
    font-size: 20px;
}

li{
	color:#E87722;
	list-style-position: inside;

	
}

img{
width: 80%;
height: 80%;




}




.project{
	    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #006400;
}
.heading {
    margin: 20px 20px 0 0;  
    
}

.samplecoursework{
	border-style: solid;
	border-color: black;
	border-width:1px;
	background-color:purple;
	margin-bottom: 20px;
	
	
}

.samplehead{
	border-style: solid;
	border-color: black;
	border-width:1px;
	margin-bottom: 20px;
	color:#E87722;
	font-size: 40px;
	background-color: #0082BA;

}


.projtitle{
	border-style: solid;
	border-color: black;
	border-width:1px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: 	#228B22;
}

.projcontainer{
	margin-bottom: 20px;
}
.heading{
	margin-top: 10px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 10px;

}
.info{
	text-align: left;
	font-size: 25px;


}

.profpic{
text-align: right;
padding-right: 0px;
padding-left: 0px;

}
.name{
	margin-bottom: 0px;
}

.email{

}

.pad{
	padding-left: 0px;
	padding-right: 0px;

}





