h1{
	text-align: center;
}

h2{
	text-align: center;
}

.Alegreya{
	
	font-family: 'Alegreya', serif;
}

.Cabin{
	font-family: 'Cabin', serif;
}

.Domine{
	font-family: 'Domine', serif;
}

.Amaranth{
	font-family: 'Amaranth', serif;
	text-align: center;
}

.Overpass{
	font-family: 'Overpass', serif;
	text-align: center;
}