

body{
	text-align: center;
	/*background-color: #007676;*/
	background-color: #003865;
	font-family: 'Domine', serif;

}

h1{
	color:#E87722;
	font-size: 75px;
	margin-bottom: 10px; 
	
}
h2{
	color:#E87722;
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 2px;  
}
h3{
	color:#E87722;
	font-size: 40px;
	background-color: #0082BA;
	margin-left: 255px;
	height:70%;
	width:70%;
}
h4{
	color:#E87722;
	font-size: 25px;
}



p{
	color:#FFA300;
}

a:visited {
    color: #59CBE8;
    font-size: 20px;
}

a:link {
    color: #59CBE8;
    font-size: 20px;
}

li{
	color:#E87722;
	list-style-position: inside;
	margin-right: 50px;
	
}

.me{
	margin-left:50px;
}

img{
	margin-top: 0px;
}

